.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.font-robot {
  font-family: "Roboto", sans-serif;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

.teste {
  background: -webkit-linear-gradient(right, #4eee96, #212122);
}