  .App {
    text-align: center;
  }
  
  .card-body img {
    padding-top: 10px;
    height: 150px;
    text-align: center;
    transition: padding 300ms ease;
  }

  .card-link {
    color: #603985 !important;
  }

  .btn.btn-link{
    color: #603985 !important;
  }
  
  .negrito {
    font-weight: bolder;
   }
